<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SleepBaby">

        <!-- Splash (Agora chamada manualmente depois do login) -->
        <activity android:name=".SplashActivity" android:exported="true"/>

        <!-- Login (Agora é quem abre o app) -->
        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" android:exported="true"/>
        <activity android:name=".WizardStep1Activity" android:exported="true"/>
        <activity android:name=".SexoBebeActivity" android:exported="true"/>
        <activity android:name=".NomeBebeActivity" android:exported="true"/>
        <activity android:name=".DashboardActivity" android:exported="true"/>
        <activity android:name=".AlimentacaoActivity" android:exported="true"/>
        <activity android:name=".RegistroSonoActivity" android:exported="true"/>
        <activity android:name=".RelatoriosActivity" android:exported="true"/>
        <activity android:name=".VisualizacaoRegistrosActivity" android:exported="true"/>

    </application>

</manifest>
